/* Fonts */
@font-face {
  font-family: 'AvenirBlack';
  src: url('./fonts/AvenirBlack.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirBook';
  src: url('./fonts/AvenirBook.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext.otf') format('opentype');
}

@font-face {
  font-family: 'AvenirRoman';
  src: url('./fonts/AvenirRoman.otf') format('opentype');
}

/* Global CSS Variables */
:root {
    /* Text Colors */
    --black-text: #000000;
    --white-text: #FFFFFF;
    --red-text: rgb(255, 102, 115);
    --orange-text: rgb(237, 148, 66);

    /* Background Colors */
    --black-background: #181818;
    --tan-background: #FDF5EA;
    --white-background: #FFFFFF;
    --dealdog-background: linear-gradient(to right, rgb(237, 148, 66), rgb(255, 102, 115));   
    --light-dealdog-background: linear-gradient(to right, rgb(237, 148, 66, 0.6), rgb(255, 102, 115, 0.65));
}

/* DealDog Gradient Colored Text */
.dealdog-text-color {
    background: linear-gradient(to right, rgb(237, 148, 66) 30%, rgb(255, 102, 115) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

html {
    height: 100%;
    width: 100%;
    padding: 0px;
    scroll-behavior: smooth;
    letter-spacing: 0.10vmin;
}

body {
    margin: 0px;
}

/* Landing Screen */
.landing-screen {
    background: var(--black-background);
    width: 100%;
    height: 100vh;
}

/* Landing Banner */
.landing-banner {
    font-family: 'AvenirBlack';
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.name-and-logo {
    display: flex;
    align-items: center;
}

.name-and-logo img {
    height: 9vmin; 
    width: 9vmin;
    margin: 0vmin 1vmin;
}

.name-and-logo div {
    color: var(--white-text);
    font-size: 2.6vmin;
    font-weight: bold;
}

.careers {
    margin-right: 10vmin;
    font-size: 2.2vmin;
    text-decoration: none;
    color: var(--white-text);
}

#careers:hover {
    color: lightgray;
}

/* Landing Content */
.landing-content {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.landing-text {
    width: 65vmin;
    margin-left: 3vmin;
}

.landing-text .head-text {
    font-family: 'AvenirBlack';
    font-size: 8vmin;
    font-weight: bold;
}

.landing-text .sub-text {
    font-family: 'AvenirRoman';
    color: var(--white-text);
    margin-top: 4vmin;
    font-size: 2.6vmin;
    line-height: 4vmin;
}

.landing-iphone {
    height: 90vmin;
}

.landing-download-apps {
    display: flex;
    float: left;
    margin-top: 4vmin;
}

.landing-ios-app img {
    height: 7.5vmin;
    width: 24vmin;
    border-radius: 1vmin;
}

/* Responsive Landing Screen */
.small-landing-iphone {
    display: none;
}

@media(max-width: 820px) {
    .careers, .landing-iphone {
        display: none;
    }
    .small-landing-iphone {
        display: block;
        height: 45vh;
    }
    .landing-screen {
        height: 100%;
        padding-bottom: 3vh;
    }
    .landing-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0vmin;
    }
    .landing-text {
        margin-left: 0vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32vh;
    }
    .landing-text .head-text {
        font-size: 4.5vh;
    }
    .landing-text .sub-text {
        font-size: 1.8vh;
        line-height: 2.4vh;
    }
    .landing-ios-app img {
        height: 5vh;
        width: 15vh;
    }
    .name-and-logo img {
        height: 6vh;
        width: 6vh;
        margin-right: -0.3vh;
    }
    .name-and-logo div {
        font-size: 1.8vh;
    }

}

/* Banner */
.banner {
    font-family: 'AvenirBlack';
    display: flex;
    align-items: center;
    padding: 2.5vmin;
    overflow: hidden;
    white-space: nowrap;
    background: var(--dealdog-background);
}

.banner span {
    margin-right: 4vmin;
    display: inline-block;
    font-size: 5vmin;
    animation-delay: 4s;
    color: rgba(255, 255, 255, 0.658);
    font-weight: bold;
}

.banner div {
    animation: scrollSchools 20s linear infinite;
}

@keyframes scrollSchools {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Section Tabs */
.sections {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10vmin;
}

.section {
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 2vmin;
    width: 32vmin;
}

#middle-section {
    margin-left: 6vmin;
    margin-right: 6vmin;
}

.section:hover {
    background-color: lightgray;
}

.section img {
    height: 15vmin;
    width: 15vmin;
    margin-top: 2vmin;
}

.section-head-text {
    font-family: 'AvenirBlack';
    font-size: 4vmin;
    font-weight: bold;
    margin-top: 2vmin;
}

.section-sub-text {
    font-family: 'AvenirBook';
    font-size: 2.7vmin;
    margin-top: 2vmin;
    line-height: 4vmin;
}

@media(max-width: 820px) {
    .sections {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section {
        width: 55vmin;
    }
}

/* Sections */
#section-one, #section-two, #section-three {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5vmin;
    padding-bottom: 20vmin;
}

.section-one-text, .section-two-text, .section-three-text {
    width: 40vmin;
}

.section-one-head-text, .section-two-head-text, .section-three-head-text {
    font-size: 4vmin;
    font-family: 'AvenirBlack';
}

.section-one-sub-text, .section-two-sub-text, .section-three-sub-text {
    font-family: 'AvenirBook';
    margin-top: 2vmin;
    font-size: 2.7vmin;
    line-height: 4vmin;
}

.section-one-iphone, .section-two-iphone, .section-three-iphone {
    height: 50vmin;
    width: 25vmin;
    border-radius: 20px;
}

.small-section-one-sub-text, .small-section-two-sub-text, .small-section-three-sub-text {
    display: none;
}

@media(max-width: 820px) {
    .section-one-sub-text, .section-two-sub-text, .section-three-sub-text {
        display: none;
    }

    .small-section-one-sub-text, .small-section-two-sub-text, .small-section-three-sub-text {
        display: block;
        font-family: 'AvenirBook';
        line-height: 4vmin;
        width: 65vmin;
        margin: auto auto;
        font-size: 2.7vmin;
        padding-bottom: 5vmin;
    }

    .section-one-head-text, .section-two-head-text, .section-three-head-text {
        font-size: 2.5vh;
        font-family: 'AvenirBlack';
        margin: 2vh;
    }

    #section-one, #section-two, #section-three {
        justify-content: center;
        padding-bottom: 4vmin;
    }
}

/* Testimonials */
.users {
    text-align: center;
    background: var(--light-dealdog-background);
}

.user-sections {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10vmin;
    margin-top: 5vmin;
}

.user-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 35vmin;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 3vmin;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.user-section img {

    height: 18vmin;
    width: 18vmin;
    border-radius: 50%;
    margin-bottom: 2vmin;
}

.title-user-section {
    font-family: 'AvenirBlack';
    font-size: 4vmin;
    padding-top: 6vmin;
    color: var(--white-text);
}

.sub-title-user-section {
    font-family: 'AvenirBlack';
    margin-top: 1vmin;
    font-style: italic;
    font-size: 3vmin;
    color: var(--white-text);
}

.user-section-sub-text {
    font-family: 'AvenirRoman';
    margin: 1vmin;
    font-size: 2.5vmin;
}

.section-head-quote {
    font-family: 'AvenirBlack';
    color: var(--red-text);
    font-size: 2.5vmin;
}

.middle-quote {
    margin-left: 5vmin;
    margin-right: 5vmin;
}

.left-quote {
    margin-left: 2vmin;
}

.right-quote {
    margin-right: 2vmin;
}

.username {
    font-family: 'AvenirBlack';
    font-size: 2vmin;
}

@media(max-width: 820px) {
    
}

/* Video Section */
#video-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FDF5EA;
    padding-top: 9vmin;
    padding-bottom: 9vmin;
}

.video {
    width: 60vmin;
    height: 35vmin;
    border-radius: 20px;
    background-color: lightgray;
}

.video-text {
    width: 42vmin;
}

.video-head-text {
    font-size: 5vmin;
    font-weight: bold;
    margin-bottom: 3vmin;
}

.video-sub-text {
    font-size: 2.7vmin;
    margin-top: 3vmin;
    line-height: 3.5vmin;
}

/* About Section */
.about {
    background-color: var(--black-background);
    padding-bottom: 8vmin;
}

.about-title {
    font-family: "AvenirBlack";
    padding-top: 6vmin;
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
}

.about-desc {
    color: var(--white-text);
    font-family: "AvenirBook";
    font-size: 2.7vmin;
    margin-top: 3vmin;
    text-align: center;
    margin-right: 15vmin;
    margin-left: 15vmin;
}

.scroll-images {
    margin-top: 8vmin;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.scroll-images::-webkit-scrollbar {
    display: none;
}

.scroll-images::before {
    content: "";
    flex: 0 0 232%; /* This percent centers the first image */
}

.item {
    display: inline-block;
    margin-right: 15vmin;
}

.about-images {
    height: 50vmin;
    width: 80vmin;
    border-radius: 2vmin;
}

.about-left-button, .about-right-button {
    height: 10vmin;
    width: 5vmin;
    border-radius: 1vmin;
    border: none;
}

.about-left-button:hover, .about-right-button:hover {
    background-color: gray;
}

.about-left-button {
    margin-left: 4vmin;
}

.about-right-button {
    margin-right: 4vmin;
}

/* Ready To Download Section */
.ready {
    text-align: center;
    padding-bottom: 10vmin;
    background-color: #FDF5EA;
}

.ready-title {
    font-family: "AvenirBlack";
    padding-top: 4vmin;
    font-size: 4vmin;
    font-weight: bold;
}

.ready-desc {
    font-family: "AvenirBook";
    margin-top: 3vmin;
    font-size: 2.7vmin;
}

.ready-apps {
    display: flex;
    justify-content: center;
    margin-top: 5vmin;
}

.ready-app img {
    height: 9vmin;
    width: 25vmin;
    border-radius: 1vmin;
}

.ready-app button {
    background-color: none;
    border: none;
}

.app-middle {
    margin-left: 15vmin;
    margin-right: 15vmin;
}

.app-middle img {
    height: 7vmin;
    width: 23vmin;
}

.gift img {
    margin-top: 5vmin;
    width: 50%;
    border-radius: 2vmin;
    height: 70vmin;
}

/* Contact Us */
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    padding-top: 8vmin;
    padding-bottom: 15vmin;
    margin-left: 3vmin;
    margin-right: 3vmin;
}

.contact-us {
    width: 70vmin;
}

.put-contact-info {
    width: 70vmin;
    margin-left: 3vmin;
}

.contact-title {
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    font-family: "AvenirBlack";
}

.contact-desc {
    font-family: "AvenirBook";
    font-size: 2.7vmin;
    margin-top: 4vmin;
}

.first-and-last-input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#email input {
    height: 5vmin;
}

#first-name {
    margin-right: 3vmin;
}

#first-name input, #last-name input {
    height: 5vmin;
    width: 30vmin;
}

.contact-info {
    margin-top: 1.5vmin;
}

.contact-info div {
    font-size: 2vmin;
    margin-bottom: 0.4vmin;
}

.contact-info input {
    background-color: lightgray;
    border: none;
    border-radius: 0.8vmin;
    height: 3.3vmin;
    width: 70vmin;
}

.at-email {
    color: var(--red-text);
    font-weight: bold;
}

#message input {
    background-color: lightgray;
    padding-bottom: 7vmin;
}

.message-form {
    font-family: 'AvenirBook';
    width: 70vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send {
    margin-top: 3vmin;
}

.send input {
    height: 7vmin;
    width: 70vmin;
    border-radius: 1vmin;
    border: none;
    color: white;
    font-size: 2vmin;
    font-weight: bold;
    background: linear-gradient(to right, rgb(237, 148, 66) 0%, rgb(255, 102, 115) 100%);
}

@media(max-width: 820px) {
    .contact {
        flex-direction: column;
    }
    .put-contact-info {
        margin-top: 5vmin;
    }
}

/* Horizontial Line */
.horizontial-line {
    height: 0.6vmin;
    background: var(--dealdog-background);
    padding: 0px, 0px;
    margin: 0 0;
}

/* Company Info */
.info {
    background-color: var(--black-background);
    font-family: "AvenirBlack";
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7vmin;
    padding-bottom: 7vmin;
}

.info-left {
    margin-left: 5vmin;
    margin-right: 8vmin;
}

.info-logo {
    height: 13vmin;
    width: 13vmin;
}

.info-company-name {
    margin-top: -2vmin;
    font-size: 2.8vmin;
    font-weight: bold;
}

.info-text {
    color: var(--white-text);
    margin-top: 2vmin;
    font-family: "AvenirRoman";
    font-size: 2vmin;
}

.info-apps {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vmin;
}

.info-app img {
    height: 7vmin;
    width: 20vmin;
    border-radius: 1vmin;
    margin-right: 5vmin;
}

.info-app-play img {
    width: 23vmin;
}

.info-right {
    margin-right: 5vmin;
    display: flex;
    justify-content: center;
}

.info-right-title {
    font-size: 3vmin;
    font-weight: bold;
}

.middle-info {
    margin-left: 8vmin;
    margin-right: 8vmin;
}

.column-three {
    margin-right: 0vmin;
}

.info-right div div {
    margin-bottom: 4vmin;
}

.info-sub-text {
    font-size: 2.5vmin;
    width: 17vmin;
}

.info-sub-text a {
    text-decoration: none;
    color: white;
}

.small-info {
    display: none;
}

@media(max-width: 820px) {
    .info {
        flex-direction: column;
    }
    .info-right {
        text-align: center;
        flex-direction: column;
        margin-right: 0vmin;
    }
    .info-left {
        text-align: center;
        display: none;
    }
    .middle-info {
        margin-left: 0vmin;
        margin-right: 0vmin;
    }
    .small-info {
        text-align: center;
        display: block;
    }
    .info-apps {
        margin-top: 2vmin;
        margin-right: 0vmin;
        margin-left: 0vmin;
        display: flex;
        justify-content: center;
    }
    .info-app img {
        margin: 0vmin 0vmin;
    }
}