/* Gradient Colored Text */
.dealdog-gradient-color {
    background: linear-gradient(to right, rgb(237, 148, 66) 30%, rgb(255, 102, 115) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Gradient Colored Background Transparent */
.dealdog-gradient-transparent-background-color {
    background: linear-gradient(to right, rgb(237, 148, 66) 0%, rgb(255, 102, 115) 100%);
}


/* Gradient Colored Background */
.dealdog-gradient-background-color {
    background: linear-gradient(to right, rgb(237, 148, 66), rgb(255 102 115));
}

/* Set Hues */
.text-color-white {
    color: white;
}

.text-color-red {
    color: rgb(255, 102, 115);
}

.background-color-black {
    background-color: #181818;
}

/* Bold */
.bold {
    font-weight: bold;
}

/* Top Navigation */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vmin;
    font-size: 3.5vmin;
}

.top-bar-logo {
    height: 9vmin; width: 9vmin; /* Set Logo Size */
    margin: 0vmin 1vmin;
}

.top-bar-name-and-logo {
    display: flex;
    align-items: center;
}

.top-bar-careers {
    margin-right: 10vmin;
    font-size: 2.2vmin;
    text-decoration: none;
}

.top-bar-careers:hover {
    color: lightgray;
}

/* Main Content */
.main-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 82vmin;
    padding-bottom: 13vmin;
}

.main-text {
    margin-left: 17vmin;
    width: 65vmin;
}

.head-text {
    font-size: 8vmin;
    font-weight: bold;
}

.sub-text {
    margin-top: 4vmin;
    font-size: 2.5vmin;
    line-height: 3.5vmin;
}

.main-iphone {
    z-index: 2;
    height: 80vmin;
    width: 40vmin;
    border-radius: 20px;
    margin-left: 22vmin;
    margin-top: 7.5vmin;
}

.download-apps {
    display: flex;
    float: left;
    margin-top: 4vmin;
}

.ios-app img, .google-play-app img {
    height: 7.5vmin;
    width: 24vmin;
    border-radius: 1vmin;
}

.ios-app {
    margin-right: 4vmin;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vmin;
    overflow:hidden;
    white-space: nowrap;
}

.banner span {
    margin-right: 4vmin;
    display: inline-block;
    font-size: 5vmin;
    animation-delay: 4s;
    color: white;
    font-weight: bold;
}

.banner div {
    animation: scrollSchools 20s linear infinite;
}

@keyframes scrollSchools {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Section Tabs */
.sections {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10vmin;
}

.section {
    height: 50vmin;
    width: 35vmin;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.section:hover {
    background-color: lightgray;
}

.section img {
    height: 15vmin;
    width: 15vmin;
    margin-top: 2vmin;
}

.section-head-text {
    font-size: 4vmin;
    font-weight: bold;
    margin-top: 2vmin;
}

.section-sub-text {
    font-size: 2.7vmin;
    margin-top: 2vmin;
    line-height: 4vmin;
}

/* Sections */
#section-one, #section-two, #section-three {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5vmin;
    padding-bottom: 20vmin;
}

.section-one-text, .section-two-text, .section-three-text {
    width: 40vmin;
}

.section-one-head-text, .section-two-head-text, .section-three-head-text {
    font-size: 4vmin;
    font-weight: bold;
}

.section-one-sub-text, .section-two-sub-text, .section-three-sub-text {
    margin-top: 2vmin;
    font-size: 2.7vmin;
    line-height: 4vmin;
}

.section-one-iphone, .section-two-iphone, .section-three-iphone {
    height: 50vmin;
    width: 25vmin;
    border-radius: 20px;
}

/* User Sections */
.users {
    text-align: center;
}

.user-sections {
    display: flex;
    justify-content: space-evenly;
    padding: 10vmin;
    padding-top: 0px;
}

.user-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50vmin;
    width: 35vmin;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 3vmin;
    margin-top: 5vmin;
    
}

.user-section img {

    height: 18vmin;
    width: 18vmin;
    border-radius: 50%;
    margin-bottom: 2vmin;
}

.title-user-section {
    font-size: 4vmin;
    font-weight: bold;
    padding-top: 6vmin;
}

.sub-title-user-section {
    margin-top: 1vmin;
    font-style: italic;
    font-size: 3vmin;
}

.user-section-sub-text {
    margin: 1vmin;
    font-size: 2.5vmin;
}

.section-head-quote {
    font-size: 2.5vmin;
}

.username {
    font-size: 2vmin;
}

/* Video Section */
#video-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FDF5EA;
    padding-top: 9vmin;
    padding-bottom: 9vmin;
}

.video {
    width: 60vmin;
    height: 35vmin;
    border-radius: 20px;
    background-color: lightgray;
}

.video-text {
    width: 42vmin;
}

.video-head-text {
    font-size: 5vmin;
    font-weight: bold;
    margin-bottom: 3vmin;
}

.video-sub-text {
    font-size: 2.7vmin;
    margin-top: 3vmin;
    line-height: 3.5vmin;
}

/* About Section */
.about {
    padding-bottom: 8vmin;
}

.about-title {
    padding-top: 6vmin;
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
}

.about-desc {
    font-size: 2.7vmin;
    margin-top: 3vmin;
    text-align: center;
    margin-right: 15vmin;
    margin-left: 15vmin;
}

.scroll-images {
    margin-top: 8vmin;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.scroll-images::-webkit-scrollbar {
    display: none;
}

.scroll-images::before {
    content: "";
    flex: 0 0 232%; /* This percent centers the first image */
}

.item {
    display: inline-block;
    margin-right: 15vmin;
}

.about-images {
    height: 50vmin;
    width: 80vmin;
    border-radius: 2vmin;
}

.about-left-button, .about-right-button {
    height: 10vmin;
    width: 5vmin;
    border-radius: 1vmin;
    border: none;
}

.about-left-button:hover, .about-right-button:hover {
    background-color: gray;
}

.about-left-button {
    margin-left: 4vmin;
}

.about-right-button {
    margin-right: 4vmin;
}

/* Ready To Download Section */
.ready {
    text-align: center;
    padding-bottom: 10vmin;
    background-color: #FDF5EA;
}

.ready-title {
    padding-top: 4vmin;
    font-size: 4vmin;
    font-weight: bold;
}

.ready-desc {
    margin-top: 3vmin;
    font-size: 2.7vmin;
}

.ready-apps {
    display: flex;
    justify-content: center;
    margin-top: 5vmin;
}

.ready-app img {
    height: 7vmin;
    width: 20vmin;
    border-radius: 1vmin;
}

.app-middle {
    margin-left: 15vmin;
    margin-right: 15vmin;
}

.app-middle img {
    height: 7vmin;
    width: 23vmin;
}

/* Contact Us */
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    padding-top: 8vmin;
    padding-bottom: 15vmin;
}

.contact-us {
    width: 60vmin;
}

.contact-title {
    font-size: 5vmin;
    font-weight: bold;
}

.contact-desc {
    font-size: 2.7vmin;
    margin-top: 4vmin;
}

.first-and-last-input {
    display: flex;
    justify-content: center;
}

#first-name {
    margin-right: 3vmin;
}

#first-name input, #last-name input {
    height: 3.3vmin;
    width: 23vmin;
}

.contact-info {
    margin-top: 1.5vmin;
}

.contact-info div {
    font-size: 1.7vmin;
    margin-bottom: 0.4vmin;
}

.contact-info input {
    background-color: lightgray;
    border: none;
    border-radius: 0.8vmin;
    height: 3.3vmin;
    width: 49.5555999vmin;
}

#message input {
    background-color: lightgray;
    padding-bottom: 7vmin;
}

.message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send {
    margin-top: 3vmin;
}

.send input {
    height: 5vmin;
    width: 49.5555999vmin;
    border-radius: 1vmin;
    border: none;
    color: white;
    font-size: 2vmin;
    font-weight: bold;
    background: linear-gradient(to right, rgb(237, 148, 66) 0%, rgb(255, 102, 115) 100%);
}

/* Horizontial Line */
.horizontial-line {
    height: 0.25vmin;
    background-color: gray;
    color: gray;
    padding: 0px, 0px;
    margin: 0 0;
}

/* Company Info */
.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7vmin;
    padding-bottom: 7vmin;
}

.info-logo {
    height: 13vmin;
    width: 13vmin;
}

.info-company-name {
    margin-top: 2vmin;
    font-size: 2.8vmin;
    font-weight: bold;
}

.info-text {
    margin-top: 2vmin;
}

.info-apps {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vmin;
}

.info-app img {
    height: 7vmin;
    width: 20vmin;
    border-radius: 1vmin;
    margin-right: 5vmin;
}

.info-app-play img {
    width: 23vmin;
}

.info-right {
    display: flex;
    justify-content: space-between;
}

.info-right-title {
    font-size: 3vmin;
    font-weight: bold;
}

.info-right div {
    margin-right: 7vmin;
}

.column-three {
    margin-right: 0vmin;
}

.info-right div div {
    margin-bottom: 4vmin;
}

.info-sub-text {
    font-size: 2.5vmin;
    width: 17vmin;
}

.info-sub-text a {
    text-decoration: none;
    color: white;
}
