html {
  background-color: rgb(237, 148, 66); /* Here to for browsers that don't support gradients */
  background: linear-gradient(rgb(237, 148, 66), rgb(255 102 115));
  height: 100%;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  font-family: "Anvir", sans-serif;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.15vmin;
}






